.box1{
    background-color: aqua;
    width: 20%;
    height: 700px;
    margin:2.5% 2% ;
}



.box2{
    background-color: blueviolet;
    width: 20%;
    height: 700px;
    margin: 2.5% 2% ;
    
}



.box3{background-color: brown;
    width: 20%;
    height: 700px;
    margin: 2.5% 2%;

}



.box4{
    background-color: gold;
    width: 20%;
    height: 700px;
    margin: 2.5% 2% ;

}


body{
    display: flex;
    justify-content: center;

}

img{
    width: 400px;
    background-color: aqua;
    margin: 0em 2em;
}
    




